<div class="container">
    <div class="contato-header col-sm-12">
    </div>
    <div class="about-body col-sm-12">
        <div class="container">
            <div class="col-sm-7" style="text-align: justify;">
                
                <h2>
                    Irineide Klöckner
                </h2>
                <p>
                    Maringá / PR </br>
                    (44)9948-7785 / (44)3265-4855 
                 </p>
                <p>
                    Lodrina / PR (Wagner)</br>
                    (43)9612-7090
                 </p>
                <p>
                    São José dos Campos / SP (Murilo) </br>
                    (12)98229-0060 - murilokn@gmail.com</p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="contato-form col-sm-4 col-sm-offset-5 container">
        <h1>Entre em contato</h1>
        <p>Nome</p>
        <p>Email</p>
        <p>Assunto</p>
        <p>Mensagem</p>
        <p>Enviar</p>
    </div>
</div>