<div class="container">
    <div class="about-header col-sm-12">
    </div>
    <div class="about-body col-sm-12">
        <div class="container">
            <div class="col-sm-7" style="text-align: justify;">
                
                <h1>
                    Irineide Klöckner
                </h1>
                <p>
                    Nascida em 1961, na cidade de Maringá/PR, Irineide Klöckner iniciou sua carreira artística em 1983, e passou pelos mais variados campos das artes plásticas, vivenciando as mais diversas técnicas de pintura.
                </p>
                <p>
                    Desde 2000,  Irineide dedica-se exclusivamente à pintura em tela, tendo durante estes anos aprimorado sua arte em diversas técnicas, através da convivência com artistas de diferentes estilos.
                </p>
                <p>
                    Nos últimos anos tem buscado inspiração em grandes nomes do Abstracionismo, como Jackson Pollock e Jonas Gerard, e desenvolveu seu próprio estilo. Em sua arte Irineide expressa a beleza da vida, em todos seus pormenores e complexidades, na união dos traços aparentemente desconexos se criam momentos únicos.
                </p>
                <p>
                    Durante sua carreira, Klöckner participou de exposições ao longo de toda a região Sul, tendo assinado mais de 2000 obras de arte, que hoje embelezam residências e ambientes corporativos em todo o Brasil.
                </p>
                <p></p>
            </div>
            <div class="col-sm-4">
                <div class="about-body col-sm-12">
                    <%= image_tag("irineideklockner.jpg", class: "picture") %>
                </div>
            </div>
        </div>
    </div>
    
</div>