<div class="container">
  <div class="contato-header col-sm-12"></div>
  <div class="contato-body col-sm-12">
    <div class="container">
      <div class="col-sm-7" style="text-align: justify;">
        <h2>
          Contato
        </h2>
        <br>
        <p>
          Maringá / PR <br>
          (44) 99948-7785
        </p>
        <br>
        <p>
          Lodrina / PR<br>
          (43) 99612-7090
        </p>
        <br>
        <p>
          E-mail<br>
          <a href="mailto:klockner.art@gmail.com">klockner.art@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class="contato-form col-sm-4 col-sm-offset-5 container">
    <h2>
      Fale direto pelo WhatsApp
    </h2>
    <br>
    <p>
      Clique no botão abaixo para enviar uma mensagem diretamente ao nosso WhatsApp
    </p>
    <br><br>
    <a class="btn btn-sm btn-success" href="https://api.whatsapp.com/send?phone=5543996127090">Enviar mensagem</a>
  </div>
</div>